body {
	background-color: #f3f5fc
}
h1{
	display: inline-block;
	position: absolute;
	margin-left: 2%;
	margin-top: 2%;
}

.input {
	position: absolute;
	left: 15%;
	top: 15%;
	width: 35%;
	height: 47%;

}

.img{
	display: inline-block;
	width: 100%;
	height: 90%;
}

.hidden{
	display: inline-block;
	width: 100%;
	height: 90%;
	opacity: 0;
}

.text {
	resize: none;
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 85%;
	top:2%;
	right: 1%;
	border:none;
	background-color: #f3f5fc ;
	opacity: 0.75;
	font-family: 'Bebas Neue', cursive;

}

.txt-2{
	color:crimson;
}

.navbuttons {
	position: absolute;
	display: inline-block;
	height: 10%;
	width: 45% ;
	bottom: 18% ;
	left:15% ;
}

.button {
	display: inline-block;
	width: 45%;
	height: 65%;
}

#decripto {
	margin-left: 10%;
}

.navbuttons button {
	display: inline-block;
	width: 100%;
	height: 95%;
	border-radius: 1em;
	background-color: #94A6E4;
}


.output {
	position:absolute;
	width: 30%;
	height: 85%;
	right:5%;
}

.outputBox {
	width: 75%;
	height: 80%;
	top: 5%;
	position: relative;
	left: 10%;
}

.outputField{
	display: inline-block;
	bottom: 5%;
	position: absolute;
	top: 5%;
	left: 15%;
	width: 60%;
	height: 75%;
	border: none;
	resize: none;
	font-family: 'Merriweather', serif;
}

.output input {
	display: inline-block;
	bottom: 10%;
	position: absolute;
	left: 20%;
	width: 55%;
	height: 3em;
	border-radius: 1em;
	background-color: #94E4AA;
}

footer {
	display: block;
	position: absolute;
	bottom: 1%;
	left:40%;

}

@media screen and (max-width: 480px) {
	.input{
		left: 10%;
		width: 50%;
	}

	.navbuttons{
		height: 35%;
		width: 30%;
		bottom: 50%;
		right: 5%;
		left:auto;
	}

	.button{
		display: block;
		width: 100%;
		height: 65%;
	}

	#decripto{
		margin: 0%;
	}

	.output{
		position:absolute;
		width: 100%;
		height: 25%;
		left: 3%;
		bottom: 10%;
	}

	.output input {
		top: 85%;
	}

	footer {
		left: 20%;
	}

}
