body {
	background-color: #f3f5fc
}
h1{
	display: inline-block;
	position: absolute;
	margin-left: 2%;
	margin-top: 2%;
}

.input {
	position: absolute;
	left: 20%;
	top: 15%;
	width: 35%;

}

.input img{
	display: inline-block;
	width: 100%;
	height: 90%;
}

.text {
	resize: none;
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 90%;
	top:2%;
	right: 1%;
	border:none;
	background-color: #f3f5fc ;
	opacity: 0.75;

}

.navbuttons {
	position: absolute;
	display: inline-block;
	height: 10%;
	width: 45% ;
	bottom: 18% ;
	left:15% ;
}

.button {
	display: inline-block;
	width: 45%
}

#decripto {
	margin-left: 10%;
}

.navbuttons img {
	display: inline-block;
	width: 100%;
	height: 33%
}


.output {
	position:absolute;
	width: 30%;
	height: 85%;
	right:5%;
}

.output img {
	width: 60%;
	height: 75%;


}

.output p{
	display: inline;
	bottom: 5%;
}

.output input {
	display: inline;
}

footer {
	display: block;
	position: absolute;
	bottom: 20px;
	left:40%;

}
